In [2]:
import numpy as np
import pandas as pd
from sdv.datasets.local import load_csvs
from sdv.metadata import MultiTableMetadata
from sdv.multi_table import HMASynthesizer

In [3]:
# import torch

# print("Torch version:", torch.__version__)
# print("CUDA available:", torch.cuda.is_available())
# print("cuDNN version:", torch.backends.cudnn.version() if torch.cuda.is_available() else "N/A")

In [13]:
datasets = load_csvs(folder_name='gtfs')

In [ ]:
datasets

{'agency':    agency_id                    agency_name  \
 0         AM                       AT Metro
 1       ATMB                   AT Metro Bus
 2      BAYES               Bayes Coachlines
 3        BFL                Belaire Ferries
 4        FGL                     Fullers360
 5        GBT                         Go Bus
 6         HE             Howick and Eastern
 7        MEX              Mahu City Express
 8        NZB                New Zealand Bus
 9         PC  Pavlovich Transport Solutions
 10       RTH             Ritchies Transport
 11      SLPH           SeaLink Pine Harbour
 12       TZG              Tranzit Group Ltd
 13       WBC            Waiheke Bus Company
 14       WRC       Waikato Regional Council

                               agency_url   agency_timezone agency_lang  \
 0   http://www.aucklandtransport.govt.nz  Pacific/Auckland          en
 1   http://www.aucklandtransport.govt.nz  Pacific/Auckland          en
 2   http://www.aucklandtransport.govt.nz  Pacific/Auckland          en
 3   http://www.aucklandtransport.govt.nz  Pacific/Auckland          en
 4   http://www.aucklandtransport.govt.nz  Pacific/Auckland          en
 5   http://www.aucklandtransport.govt.nz  Pacific/Auckland          en
 6   http://www.aucklandtransport.govt.nz  Pacific/Auckland          en
 7   http://www.aucklandtransport.govt.nz  Pacific/Auckland          en
 8   http://www.aucklandtransport.govt.nz  Pacific/Auckland          en
 9   http://www.aucklandtransport.govt.nz  Pacific/Auckland          en
 10  http://www.aucklandtransport.govt.nz  Pacific/Auckland          en
 11  http://www.aucklandtransport.govt.nz  Pacific/Auckland          en
 12  http://www.aucklandtransport.govt.nz  Pacific/Auckland          en
 13  http://www.aucklandtransport.govt.nz  Pacific/Auckland          en
 14  http://www.aucklandtransport.govt.nz  Pacific/Auckland          en

     agency_phone  agency_fare_url  agency_email
 0   (09)355-3553              NaN           NaN
 1   (09)355-3553              NaN           NaN
 2   (09)355-3553              NaN           NaN
 3   (09)355-3553              NaN           NaN
 4   (09)355-3553              NaN           NaN
 5   (09)355-3553              NaN           NaN
 6   (09)355-3553              NaN           NaN
 7   (09)355-3553              NaN           NaN
 8   (09)355-3553              NaN           NaN
 9   (09)355-3553              NaN           NaN
 10  (09)355-3553              NaN           NaN
 11  (09)355-3553              NaN           NaN
 12  (09)355-3553              NaN           NaN
 13  (09)355-3553              NaN           NaN
 14  (09)355-3553              NaN           NaN  ,
 'calendar':     service_id  monday  tuesday  wednesday  thursday  friday  saturday  \
 0      Daily-1       1        1          1         1       1         1
 1     Daily-10       1        1          1         1       1         1
 2     Daily-11       1        1          1         1       1         1
 3     Daily-12       1        1          1         1       1         1
 4      Daily-2       1        1          1         1       1         1
 ..         ...     ...      ...        ...       ...     ...       ...
 116  Weekend-9       0        0          0         0       0         1
 117  WkExFri-1       1        1          1         1       0         0
 118  WkExFri-2       1        1          1         1       0         0
 119  WkExFri-3       1        1          1         1       0         0
 120  WkExFri-4       1        1          1         1       0         0

      sunday  start_date  end_date
 0         1    20230310  20230516
 1         1    20230311  20230516
 2         1    20230310  20230516
 3         1    20230319  20230516
 4         1    20230319  20230516
 ..      ...         ...       ...
 116       1    20230310  20230516
 117       0    20230310  20230516
 118       0    20230311  20230516
 119       0    20230310  20230318
 120       0    20230311  20230516

 [121 rows x 10 columns],
 'calendar_dates':     service_id      date  exception_type
 0     Daily-11  20230310               2
 1     Daily-11  20230313               2
 2     Daily-11  20230314               2
 3     Daily-11  20230315               2
 4     Daily-11  20230316               2
 ..         ...       ...             ...
 669  WkExFri-4  20230321               2
 670  WkExFri-4  20230322               2
 671  WkExFri-4  20230323               2
 672  WkExFri-4  20230410               2
 673  WkExFri-4  20230425               2

 [674 rows x 3 columns],
 'fare_attributes': Empty DataFrame
 Columns: [fare_id, price, currency_type, payment_method, transfers, agency_id, transfer_duration]
 Index: [],
 'fare_rules': Empty DataFrame
 Columns: [fare_id, route_id, origin_id, destination_id, contains_id]
 Index: [],
 'feed_info':   feed_publisher_name                    feed_publisher_url feed_lang  \
 0  Auckland Transport  http://www.aucklandtransport.govt.nz        en

    feed_start_date  feed_end_date  \
 0         20230310       20230516

                                         feed_version
 0  VDV_EOD_104_4_G_145.08585225529860195148189222...  ,
 'frequencies': Empty DataFrame
 Columns: [trip_id, start_time, end_time, headway_secs, exact_times]
 Index: [],
 'routes':      route_id agency_id route_short_name route_long_name  route_desc  \
 0     101-202       NZB              101             101         NaN
 1     MEX-403       MEX              MEX             MEX         NaN
 2    MTIA-209       FGL             MTIA            MTIA         NaN
 3     TMK-202       NZB              TMK             TMK         NaN
 4    WEST-201        AM             WEST            WEST         NaN
 ..        ...       ...              ...             ...         ...
 210   RBS-402      ATMB              RBS             RBS         NaN
 211  RBSX-402      ATMB             RBSX            RBSX         NaN
 212   RBW-402      ATMB              RBW             RBW         NaN
 213   STH-201        AM              STH             STH         NaN
 214  WSTH-211       BFL             WSTH            WSTH         NaN

      route_type  route_url route_color route_text_color  route_sort_order  \
 0             3        NaN         NaN              NaN               NaN
 1             3        NaN      000000           FFFFFF               NaN
 2             4        NaN      00B1BF           FFFFFF               NaN
 3             3        NaN      0086C7           FFFFFF               NaN
 4             2        NaN      97C93D           152239               NaN
 ..          ...        ...         ...              ...               ...
 210           3        NaN      EE2E27           FFFFFF               NaN
 211           3        NaN      EE2E27           FFFFFF               NaN
 212           3        NaN      97C93D           152239               NaN
 213           2        NaN      EE2E27           FFFFFF               NaN
 214           4        NaN      00B1BF           FFFFFF               NaN

     contract_id
 0            19
 1           BUS
 2         FERRY
 3            16
 4         TRAIN
 ..          ...
 210         BUS
 211         BUS
 212         BUS
 213       TRAIN
 214         810

 [215 rows x 11 columns],
 'shapes':                    shape_id  shape_pt_lat  shape_pt_lon  shape_pt_sequence  \
 0       1010-98109-d221c68a     -36.54528     174.70832                  1
 1       1010-98109-d221c68a     -36.54519     174.70836                  2
 2       1010-98109-d221c68a     -36.54516     174.70826                  3
 3       1010-98109-d221c68a     -36.54504     174.70787                  4
 4       1010-98109-d221c68a     -36.54493     174.70750                  5
 ...                     ...           ...           ...                ...
 535265   957-12603-1bf4bceb     -36.82135     174.60994                171
 535266   957-12603-1bf4bceb     -36.82164     174.61016                172
 535267   957-12603-1bf4bceb     -36.82188     174.61039                173
 535268   957-12603-1bf4bceb     -36.82243     174.61094                174
 535269   957-12603-1bf4bceb     -36.82239     174.61100                175

         shape_dist_traveled
 0                     0.000
 1                     0.011
 2                     0.021
 3                     0.058
 4                     0.093
 ...                     ...
 535265                9.168
 535266                9.206
 535267                9.240
 535268                9.318
 535269                9.325

 [535270 rows x 5 columns],
 'stops':              stop_id  stop_code                        stop_name  stop_desc  \
 0       100-56c57897        100         Papatoetoe Train Station        NaN
 1      1002-adf82201       1002              Stop A Lower Albert        NaN
 2      1003-ea94d2b2       1003              Stop B Lower Albert        NaN
 3     10036-288916d9      10036                        Ellerslie        NaN
 4      1004-42737000       1004              Stop C Lower Albert        NaN
 ...              ...        ...                              ...        ...
 6709   9925-fa8611dc       9925  Sam Wrigley Street/ Cook Street        NaN
 6710   9974-6b1dd4cc       9974                    Madison Place        NaN
 6711   9975-9f7b8faa       9975                   Linwood Avenue        NaN
 6712   9976-69afaf1c       9976                  Linwood  Avenue        NaN
 6713   9986-e705dd1d       9986                    Matakana Road        NaN

       stop_lat   stop_lon  zone_id  stop_url  location_type  parent_station  \
 0    -36.97766  174.84925      NaN       NaN              1             NaN
 1    -36.84326  174.76575      NaN       NaN              0  31986-b1e95b83
 2    -36.84381  174.76551      NaN       NaN              0  31986-b1e95b83
 3    -36.89726  174.80712      NaN       NaN              1             NaN
 4    -36.84403  174.76550      NaN       NaN              0  31986-b1e95b83
 ...        ...        ...      ...       ...            ...             ...
 6709 -36.85073  174.75679      NaN       NaN              0             NaN
 6710 -36.75943  174.74654      NaN       NaN              0             NaN
 6711 -36.75716  174.74401      NaN       NaN              0             NaN
 6712 -36.75667  174.74761      NaN       NaN              0             NaN
 6713 -36.39619  174.66156      NaN       NaN              0             NaN

       stop_timezone platform_code  wheelchair_boarding  start_date  end_date
 0               NaN           NaN                    0    20230310  20230516
 1               NaN             A                    0    20230310  20230516
 2               NaN             B                    0    20230310  20230516
 3               NaN           NaN                    0    20230310  20230516
 4               NaN             C                    0    20230310  20230516
 ...             ...           ...                  ...         ...       ...
 6709            NaN           NaN                    0    20230310  20230516
 6710            NaN           NaN                    0    20230310  20230516
 6711            NaN           NaN                    0    20230310  20230516
 6712            NaN           NaN                    0    20230310  20230516
 6713            NaN           NaN                    0    20230310  20230516

 [6714 rows x 15 columns],
 'stop_times':                             trip_id arrival_time departure_time  \
 0       1184-07209-37680-2-75bd3e26     10:28:00       10:28:00
 1       1184-07209-37680-2-75bd3e26     10:29:45       10:29:45
 2       1184-07209-37680-2-75bd3e26     10:31:04       10:31:04
 3       1184-07209-37680-2-75bd3e26     10:31:54       10:31:54
 4       1184-07209-37680-2-75bd3e26     10:32:49       10:32:49
 ...                             ...          ...            ...
 966785  1325-85601-46800-2-f6baba42     13:51:21       13:51:21
 966786  1325-85601-46800-2-f6baba42     13:52:13       13:52:13
 966787  1325-85601-46800-2-f6baba42     13:53:54       13:53:54
 966788  1325-85601-46800-2-f6baba42     13:55:01       13:55:01
 966789  1325-85601-46800-2-f6baba42     13:56:00       13:56:00

               stop_id  stop_sequence stop_headsign  pickup_type  \
 0       6233-47eb8987              1       PANMURE            0
 1       6235-4b507972              2       PANMURE            0
 2       6053-7d5d39dd              3       PANMURE            0
 3       6243-9d7b47ba              4       PANMURE            0
 4       1941-db59f005              5       PANMURE            0
 ...               ...            ...           ...          ...
 966785  3349-37cac237             62      TAKAPUNA            0
 966786  3351-f85fcd38             63      TAKAPUNA            0
 966787  3277-dda3fc65             64      TAKAPUNA            0
 966788  3273-329359f7             65      TAKAPUNA            0
 966789  3410-d876affc             66      TAKAPUNA            1

         drop_off_type  shape_dist_traveled  timepoint
 0                   0                0.000          0
 1                   0                0.794          0
 2                   0                1.395          0
 3                   0                1.777          0
 4                   0                2.192          0
 ...               ...                  ...        ...
 966785              0               25.266          0
 966786              0               25.515          0
 966787              0               25.994          0
 966788              0               26.311          0
 966789              0               26.591          0

 [966790 rows x 10 columns],
 'transfers': Empty DataFrame
 Columns: [from_stop_id, to_stop_id, transfer_type, min_transfer_time]
 Index: [],
 'trips':       route_id service_id                      trip_id  \
 0      981-221  Weekday-1  1010-98109-18000-2-fc6666b6
 1      981-221  Weekday-1  1010-98109-19800-2-fc6666b6
 2      981-221  Weekday-1  1010-98109-21600-2-fc6666b6
 3      981-221  Weekday-1  1010-98109-23400-2-96dc00c8
 4      981-221  Weekend-1  1010-98109-25500-2-2ffa30cc
 ...        ...        ...                          ...
 32398  126-206  Weekday-1   957-12601-57600-2-7ec3cd93
 32399  126-206  Weekend-1   957-12601-57600-2-df7a4ad7
 32400  126-206  Weekday-1   957-12601-61200-2-7ec3cd93
 32401  126-206  Weekend-1   957-12601-61200-2-b54d3ff0
 32402  126-206  Weekday-1   957-12603-19200-2-953b0419

                            trip_headsign  trip_short_name  direction_id  \
 0      Waiwera To Hibiscus Coast Station              NaN             0
 1      Waiwera To Hibiscus Coast Station              NaN             0
 2      Waiwera To Hibiscus Coast Station              NaN             0
 3      Waiwera To Hibiscus Coast Station              NaN             0
 4      Waiwera To Hibiscus Coast Station              NaN             0
 ...                                  ...              ...           ...
 32398   Albany To Westgate Via Riverhead              NaN             0
 32399   Albany To Westgate Via Riverhead              NaN             0
 32400   Albany To Westgate Via Riverhead              NaN             0
 32401   Albany To Westgate Via Riverhead              NaN             0
 32402              Riverhead To Westgate              NaN             0

        block_id             shape_id  wheelchair_accessible  bikes_allowed
 0           NaN  1010-98109-d221c68a                      0              0
 1           NaN  1010-98109-d221c68a                      0              0
 2           NaN  1010-98109-d221c68a                      0              0
 3           NaN  1010-98109-d221c68a                      0              0
 4           NaN  1010-98109-d221c68a                      0              0
 ...         ...                  ...                    ...            ...
 32398       NaN   957-12601-6c2c5b10                      0              0
 32399       NaN   957-12601-6c2c5b10                      0              0
 32400       NaN   957-12601-6c2c5b10                      0              0
 32401       NaN   957-12601-6c2c5b10                      0              0
 32402       NaN   957-12603-1bf4bceb                      0              0

 [32403 rows x 10 columns]}

In [ ]:
metadata = MultiTableMetadata().load_from_dict(datasets)

In [ ]:
metadata

{
    "tables": {},
    "relationships": [],
    "METADATA_SPEC_VERSION": "MULTI_TABLE_V1"
}